<template>
  <div class="shadow-lg p-5 rounded-lg bg-gray-100">
    <img class="rounded-md mb-4 mx-auto" src="/cat.jpg" alt="cat" />
    <h4 class="font-extralight text-2xl">Card Title</h4>
    <hr class="bg-gray-400 my-2 h-[2px]" />
    <p class="line-clamp-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sequi
      aspernatur deleniti, sed minus vero iusto repudiandae quaerat molestias
      asperiores delectus, quis debitis explicabo voluptatibus. Adipisci quasi
      vero error voluptates?
    </p>
  </div>
</template>
